.iccvheader {
  background-image:url(img/home_banner.jpg);
  height:343px;
}
.iccvheadercontent {
  width:1000px;
  margin:auto
}
.shadow {
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.iccvtitle {
  text-align:center;
  font-size:80px;
  font-weight:500;
  font-family:Helvetica;
  color:white;
  padding-top:100px;
  margin-bottom:10px;
}
.iccvsubtitle {
  text-align:center;
  font-size:24px;
  font-family:Helvetica;
  color:white;
  border-top:3px solid white;
  border-bottom:3px solid white;
  margin:auto;
  width:740px;
}
.speakerimg {
  display:table-cell;
  padding:20px 20px 40px 0px;
  width:30%;
}
.speakerbio {
  display:table-cell;
  margin:0px;
  padding:0px;
  vertical-align:top
}
h2 {
  margin-top:40px;
  margin-bottom:20px;
}
.site-footer {
  background-color:#444;
  color:#fdfdfd;
  padding:30px 0;
}
.site-footer p {
  text-align:center;
  margin:0;
}
.site-footer p a:hover {
  color:#fdfdfd;
}
