<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script>
    // GLOBAL VARIABLES
    var height;

    // DEFINING GLOBAL VARIABLES
    $( document ).ready(function() {
      height = $('.banner').height() - 70;
    });

    // COLOR CHANGING NAV ON SCROLL FUNCTION
    $(window).on('scroll', function() {
        var scrollTop = $(this).scrollTop();

        if (scrollTop > height) {
          $('.site-header').css({'background-color' : '#cccccc'});
        } else {
          $('.site-header').css({'background-color' : 'transparent'});
        }
    });
  </script>
</head>
