
/**
 * Site intro
 */
.intro {
  background-color: $banner-color;
  background:  url(../img/home_banner.jpg) center;
  background-position: top;
  background-size: cover;
  height: 350px;

  color: $background-color;//#B12C4E;

  text-align: center;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.intro h1 {
  font-size: 100px;
  margin: 0;
  line-height: 200px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    @include media-query($on-palm) {
        font-size: 50px;
        text-transform: upper;
    }
}

.intro h3 {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px;
  border-top: 3px solid $background-color;
  border-bottom: 3px solid $background-color;
}

.arrow {
  font-size: 60px;
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
}




/**
 * Site banner
 */
.banner {
  height: 70px;
  width: 100%;
  background: url(../img/home_banner.jpg) no-repeat center;
  background-size: cover;
  background-position: top; 

  
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;   
  color: $background-color;
  font-size: 64px;

  text-align: center;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}




/**
 * Site header
 */
.site-header {
    min-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

    background:  url(../img/home_banner.jpg) no-repeat center;
    background-position:top;
    background-size:100%;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.site-title {
    font-size: 24px;
    line-height: 70px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $background-color;
    }
}

.site-title:hover {
  color: $text-color;
}

.site-nav .page-link:hover {
    color: $text-color;
}

.site-nav {
    float: right;
    line-height: 70px;
    font-size: 24px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }


    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $text-color;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}




/**
 * Site footer
 */
.site-footer {
  background-color: #888;
  color: $background-color;
  font-size: 13px;
  padding: $spacing-unit 0;
}

.site-footer p {
  text-align: center;
  margin: 0;
}

.site-footer p a:hover {
  color: $background-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.photo-size {
    width: 150px;

	}

.img-center {
    padding-left: 25px;
    }




.organizer-name {
    margin-top: 16px;
    }
.organizer-name span {
    background-color: #F05E40;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: inherit;
    margin-left: 10px;
    position:relative;
    padding: 15px 10px;
    }

.organizer-intro img {
    vertical-align: middle;

}

.col{
	width: 50px;
}

.profile-row{
    margin: 25px;
}